/*variables*/

$font-stack: Helvetica, Arial, sans-serif;
$flatiron-blue: #b3d4fc;
$small: 20px;
$large: 10px;


body{
  font: 100% $font-stack; /*this includes size due to shorthand*/
  color: $flatiron-blue;
  padding: $large $small;
}

@mixin border-radius($radius){
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.box{
  @include border-radius(10px);
}

/*nesting*/

nav{
  background-color:black;
  ul li{
    display: inline-block;
    color: white;
  }
}

li{
  color: green;
  &:hover{
  color: blue;
  }
}

/*Inheritance + Extends*/

.message{
  border: 1px solid #333;
  padding: 20px;
}

.success{
  @extend .message;
  boder-color:green;
}

.error{
  @extend .message;
  border-color: red;
}






