/*variables*/
body {
  font: 100% Helvetica, Arial, sans-serif;
  /*this includes size due to shorthand*/
  color: #b3d4fc;
  padding: 10px 20px; }

.box {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }

/*nesting*/
nav {
  background-color: black; }
  nav ul li {
    display: inline-block;
    color: white; }

li {
  color: green; }
  li:hover {
    color: blue; }

/*Inheritance + Extends*/
.message, .success, .error {
  border: 1px solid #333;
  padding: 20px; }

.success {
  boder-color: green; }

.error {
  border-color: red; }
